<!DOCTYPE html>
<html lang="tr">
<head>
</head>
<body>
    <section class="welcome-part-one">
        <div class="container">
            <div class="welcome-demop102 text-center">
                <h2>Game Gourmet Forum'a Hoş Geldiniz.</h2>
                <p>
                    Burası oyunlar için tutkulu, oyun oynamaktan ve konuşmaktan keyif alanların ve oyun gurmelerinin sitesi!
                    <br>Forum içinde saygılı olmaya ve argo kullanmamaya dikkat ettiğin sürece buranın bir parçası olmandan mutluluk duyarız.
                    <br> Ve lütfen sağ yukarıdaki Steam'de arama özelliğini de kullanmaktan çekinme. :)
                </p>
                <div class="button0239-item">
                    <a href="~/Home/AboutUs">
                        <button type="button" class="aboutus022">Hakkımızda</button>
                    </a>
                    <a href="~/Account/SignIn">
                        <button type="button" class="join92">Şimdi bize katıl!</button>
                    </a>
                </div>
                <div class="form-style8292">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-pencil-square" aria-hidden="true"></i></span>
                        <input type="text" class="form-control form-control8392" placeholder="Şimdi bir soru sor ve bizimle beraber oyunlarla ilgili tüm düşüncelerini paylaş!"> <span class="input-group-addon"><a href="~/Question/AddQuestion">Şimdi Sor</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main-content920">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div id="main">
                        <input id="tab1" type="radio" name="tabs" checked>
                        <label for="tab1">En Son Sorulanlar</label>
                        <input id="tab2" type="radio" name="tabs">
                        <label for="tab2">En Çok Yanıtlananlar</label>
                        <input id="tab3" type="radio" name="tabs">
                        <label for="tab3">Son Cevaplananlar</label>
                        <input id="tab4" type="radio" name="tabs">
                        <label for="tab4">Cevapsız Kalanlar</label>


                        <section id="content1">
                            <!--Recent Question Content Section -->
                            <div class="question-type2033">
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="left-user12923 left-user12923-repeat">
                                            <a href="#"><img src="~/template/image/images.png" alt="image"> </a> <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="right-description893">
                                            <div id="que-hedder2983">
                                                <h3><a href="~/Question/QuestionDetail" target="_blank">Soru Detayları</a></h3>
                                            </div>
                                            <div class="ques-details10018">
                                                <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis</p>
                                            </div>
                                            <hr>
                                            <div class="ques-icon-info3293"> <a href="#"><i class="fa fa-star" aria-hidden="true"> 5 </i> </a> <a href="~/Home/Contact"><i class="fa fa-bug" aria-hidden="true"> Raporla</i></a> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="ques-type302">
                                            <a href=~/Question/QuestionDetail>
                                                <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  333335 answer</i></button>
                                            </a>
                                            <a href=~/Question/QuestionDetail>
                                                <button type="button" class="q-type23 button-ques2973"> <i class="fa fa-user-circle-o" aria-hidden="true"> 70 view</i> </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </section>
                        <section id="content2">
                            <!--Most Response Content Section -->
                            <div class="question-type2033">
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="left-user12923 left-user12923-repeat">
                                            <a href="#"><img src="~/template/image/images.png" alt="image"> </a> <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="right-description893">
                                            <div id="que-hedder2983">
                                                <h3><a href="~/Question/QuestionDetail" target="_blank">Coronavirus disease (COVID-19)</a></h3>
                                            </div>
                                            <div class="ques-details10018">
                                                <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.</p>
                                            </div>
                                            <hr>
                                            <div class="ques-icon-info3293"> <a href="#"><i class="fa fa-star" aria-hidden="true"> 5 </i> </a> <a href="~/Home/Contact"><i class="fa fa-bug" aria-hidden="true"> Raporla</i></a> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="ques-type302">
                                            <a href=~/Question/QuestionDetail>
                                                <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  333335 answer</i></button>
                                            </a>
                                            <a href=~/Question/QuestionDetail>
                                                <button type="button" class="q-type23 button-ques2973"> <i class="fa fa-user-circle-o" aria-hidden="true"> 70 view</i> </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </section>
                        <section id="content3">
                            <!--Recently answered Content Section -->
                            <div class="question-type2033">
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="left-user12923 left-user12923-repeat">
                                            <a href="#"><img src="~/template/image/images.png" alt="image"> </a> <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="right-description893">
                                            <div id="que-hedder2983">
                                                <h3><a href="~/Question/QuestionDetail" target="_blank">This is my first Question</a></h3>
                                            </div>
                                            <div class="ques-details10018">
                                                <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.</p>
                                            </div>
                                            <hr>
                                            <div class="ques-icon-info3293"> <a href="#"><i class="fa fa-star" aria-hidden="true"> 5 </i> </a> <a href="~/Home/Contact"><i class="fa fa-bug" aria-hidden="true"> Raporla</i></a> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="ques-type302">
                                            <a href=~/Question/QuestionDetail>
                                                <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  333335 answer</i></button>
                                            </a>
                                            <a href=~/Question/QuestionDetail>
                                                <button type="button" class="q-type23 button-ques2973"> <i class="fa fa-user-circle-o" aria-hidden="true"> 70 view</i> </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </section>
                        <section id="content4">
                            <!--No answered Content Section -->
                            <div class="question-type2033">
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="left-user12923 left-user12923-repeat">
                                            <a href="#"><img src="~/template/image/images.png" alt="image"> </a> <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="right-description893">
                                            <div id="que-hedder2983">
                                                <h3><a href="~/Question/QuestionDetail" target="_blank">This is my first Question</a></h3>
                                            </div>
                                            <div class="ques-details10018">
                                                <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.</p>
                                            </div>
                                            <hr>
                                            <div class="ques-icon-info3293"> <a href="#"><i class="fa fa-star" aria-hidden="true"> 5 </i> </a> <a href="~/Home/Contact"><i class="fa fa-bug" aria-hidden="true"> Raporla</i></a> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="ques-type302">
                                            <a href=~/Question/QuestionDetail>
                                                <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  333335 answer</i></button>
                                            </a>
                                            <a href=~/Question/QuestionDetail>
                                                <button type="button" class="q-type23 button-ques2973"> <i class="fa fa-user-circle-o" aria-hidden="true"> 70 view</i> </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of content-4-->
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </section>
                    </div>
                </div>
                <aside class="col-md-4 sidebar97239">
                    <div class="status-part3821">

                        <div class="categori-part329">
                            <h4>Kategoriler</h4>
                            <ul>
                                <li><a href="~/Category/List">Aksiyon-Macera</a></li>
                                <li><a href="~/Category/List">MMORPG</a></li>
                                <li><a href="~/Category/List">Rekabetçi</a></li>
                                <li><a href="~/Category/List">FPS</a></li>
                                <li><a href="~/Category/List">Nostalji</a></li>
                            </ul>
                        </div>
                        <div class="recent-post3290">
                            <h4>Recent Post</h4>
                            <div class="post-details021">
                                <a href="~/Question/QuestionDetail"><h5>En son çıkan oyunlar.</h5></a>
                                <p>Baldurs Gate 3 muhteşemdi böyle bir oy...</p>
                                <small style="color: #848991">Ağustos 25, 2023</small>
                            </div>
                            <hr>
                            <div class="post-details021">
                                <a href="~/Question/QuestionDetail"><h5>Red Dead Redemption 1 sorunsalı</h5></a>
                                <p>Ben böyle saçma şey görmedim çok üzü...</p>
                                <small style="color: #848991">Ağustos 25, 2023</small>
                            </div>
                            <hr>
                            <div class="post-details021">
                                <a href="~/Question/QuestionDetail"><h5>League of Legends'ta farm yapmak.</h5></a>
                                <p>Temelinde son vuruş yapmayı bilemkten geçen fa...</p>
                                <small style="color: #848991">Ağustos 23, 2023</small>
                            </div>
                        </div>


                    </div>
                </aside>
            </div>
            <!--              highest part-->
            <!--        start recent post  -->

        </div>
        </div>
    </section>
</body>
</html>