<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Oyun gurmeleri için forum sitesi">
    <meta name="description"
    <meta name="keywords"
    <meta name="robots"
    <meta http-equiv="Content-Type"
    <meta name="language" content="Turkish">
    <title>İletişim</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="navbar-menu-left-side239">
                        <ul>
                            <li><a href="contact_us.html" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i>İletişime Geç</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-headphones" aria-hidden="true"></i>Destek</a></li>
                            <li><a href="logIn.html" target="_blank"><i class="fa fa-user" aria-hidden="true"></i>Giriş Bölümü</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="navbar-serch-right-side">
                        <form class="navbar-form" role="search">
                            <div class="input-group add-on">
                                <input class="form-control form-control222" placeholder="Steam'de ara..." name="srch-term" id="srch-term" type="text">
                                <div class="input-group-btn">
                                    <button class="btn btn-default btn-default2913" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="top-menu-bottom932">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="#"><img src="image/logo.png" width="300" height="75" alt="Logo"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav"> </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html">Anasayfa</a></li>
                        <li><a href="ask_question.html">Soru Sor</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kategoriler <span class="caret"></span></a>
                            <ul class="dropdown-menu animated zoomIn">
                                <li><a href="category.html">Aksiyon-Macera</a></li>
                                <li><a href="category.html">MMORPG</a></li>
                                <li><a href="category.html">Rekabetçi</a></li>
                                <li><a href="category.html">FPS</a></li>
                                <li><a href="category.html">Nostalji</a></li>
                            </ul>
                        </li>

                        <li><a href="contact_us.html">İletişim</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>


    <div class="container">
        <h3>Bize Sor...</h3>
        <ol class="breadcrumb breadcrumb839">
            <li><a href="~/Home/Index">Anasayfa</a></li>
            <li class="active">İletişim</li>
        </ol>
    </div>
    </section>
    <section class="main-content920">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="ask-question-input-part032">
                        <h4>Bizimle iletişime geç.</h4>
                        <hr>
                        <form>
                            <div class="username-part940">
                                <span class="form-description43">Kullanıcı Adı* </span><input type="text" name="fname" class="username029" placeholder="Adınızı girin.">
                            </div>
                            <div class="email-part320">
                                <span class="form-description442">E-Mail* </span><input type="text" name="fname" class="email30" placeholder="e-Postanızı girin.">
                            </div>
                            <div class="question-title39">
                                <span class="form-description433">Question-Title* </span><input type="text" name="fname" class="question-ttile32" placeholder="Sorunuzun konusu nedir?">
                            </div>
                            <div class="question-title39">
                                <span class="form-description43313">Detaylar* </span>
<textarea class="question-details3112" placeholder="Type the description thoroughly and in detail .">

                            
                        </textarea>


                            </div>


                        </form>
                        <div class="publish-button2389">
                            <button type="button" class="publis1291">Sorunu Gönder</button>
                        </div>

                    </div>


                </div>
                <!--                end of col-md-9 -->
                <!--           strart col-md-3 (side bar)-->
                <aside class="col-md-4 sidebar97239">
                    <div class="status-part3821">

                        <div class="categori-part329">
                            <h4>Kategoriler</h4>
                            <ul>
                                <li><a href="#">Aksiyon-Macera</a></li>
                                <li><a href="#">MMORPG</a></li>
                                <li><a href="#">Rekabetçi</a></li>
                                <li><a href="#">FPS</a></li>
                                <li><a href="#">Nostalji</a></li>
                            </ul>
                        </div>




                        <!--              login part-->
                        <div class="login-part2389">
                            <h4>Giriş Yap</h4>
                            <div class="input-group300">
                                <input type="text" class="namein309" placeholder="Kullanıcı Adı">
                            </div>
                            <div class="input-group300">
                                <input type="password" class="passin309" placeholder="Şifre">
                            </div>
                            <a href="#"><button type="button" class="userlogin320">Giriş Yap</button></a>
                            <div class="rememberme">
                                <label><input type="checkbox" checked="checked"> Beni Hatırla </label>
                                <a href="#" class="resbutton3892">Kayıt Ol</a>
                            </div>
                        </div>
                        <!--              highest part-->
                        <

                        <!--        start recent post  -->
                        <div class="recent-post3290">
                            <h4>Recent Post</h4>
                            <div class="post-details021">
                                <a href="#"><h5>En son çıkan oyunlar.</h5></a>
                                <p>Baldurs Gate 3 muhteşemdi böyle bir oy...</p>
                                <small style="color: #848991">Ağustos 25, 2023</small>
                            </div>
                            <hr>
                            <div class="post-details021">
                                <a href="#"><h5>Red Dead Redemption 1 sorunsalı</h5></a>
                                <p>Ben böyle saçma şey görmedim çok üzü...</p>
                                <small style="color: #848991">Ağustos 25, 2023</small>
                            </div>
                            <hr>
                            <div class="post-details021">
                                <a href="#"><h5>League of Legends'ta farm yapmak.</h5></a>
                                <p>Temelinde son vuruş yapmayı bilemkten geçen fa...</p>
                                <small style="color: #848991">Ağustos 23, 2023</small>
                            </div>


                        </div>
                        <!--       end recent post    -->

                </aside>
            </div>
        </div>
    </section>

    <!--    footer -->
    <div class="footer-search">
        <div class="container">
            <div class="row">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <input type="text" class="  search-query form-control user-control30" placeholder="Site içinde ara..." />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="footer-part">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="info-part-one320">
                        <h4>Biz Kimiz?</h4>
                        <p>Biz oyun gurmeleriyiz.</p>
                        <h4>Adres :</h4>
                        <p>Game Gourmet forum<br> Çorum, Türkiye</p>
                        <h4>Destek:</h4>
                        <p>Destek Telefone No : (+90)364 666 33 11</p>
                        <p>Destek e-Posta : </p>
                        <p>gamegourmetforum@gourmet.com</p>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
    </section>
    <section class="footer-social">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright 2023 Game Gourmet Forum | <strong>Fatih Emre Sarman</strong></p>
                </div>
                <div class="col-md-6">
                    <div class="social-right2389">
                        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/npm.js"></script>
</body>

</html>