<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="title" content="Ask online Form">
  <meta name="title" content="Oyun gurmeleri için forum sitesi">
  <meta name="description" 
  <meta name="keywords" 
  <meta name="robots" 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="Turkish">
  <title>Giriş Yap</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
   <link rel="stylesheet" href="css/loginstyle.css">
</head>

<body>
  
<div class="modal-wrap">

  <div class="modal-bodies">
    <div class="modal-body modal-body-step-1 is-showing">
      <div class="title">Giriş Yap</div>
      <div class="description">Selamlar, Giriş Yap.</div>
      <form>
        <input type="text" placeholder="Kullanıcı Adı"/>
        <input type="password" placeholder="Şifre"/>
        <div class="text-center">
          <div class="button">Giriş Yap</div>
            <a href="signup.html"><div class="button">Hesap Oluştur.</div></a>
        </div>
      </form>
    </div>

 
  </div>
</div>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

    

</body>
</html>
