<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="title" content="Oyun gurmeleri için forum sitesi">
  <meta name="description" 
  <meta name="keywords" 
  <meta name="robots" 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <title>Üye Ol</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
   <link rel="stylesheet" href="css/loginstyle.css">

  
</head>

<body>
  
<div class="modal-wrap">

  <div class="modal-bodies">
    <div class="modal-body modal-body-step-1 is-showing">
      <div class="title">Hesap Oluştur</div>
      <div class="description">Selamlar, Üyelik Formunu Doldurarak Kaydol</div>
      <form>
        <input type="text" placeholder="Kullanıcı Adı*"/>
        <input type="email" placeholder="e-Posta*"/>
          <input type="password" placeholder="Şifre*"/>
            <input type="con-password" placeholder="Şifreyi Onayla*"/>
               <div class="col-md-4">
                        <div class="row text-center sign-with">
                            <div class="col-md-12">
                                <h3>
                                    Sosyal Medya Hesaplarınla Üye ol</h3>
                            </div>
                            <div class="col-md-12 sign-in28912">
                                <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-primary btn-primary3838">Facebook</a> <a href="#" class="btn btn-danger btn-danger37883">
                                        Google</a>
                                </div>
                            </div>
                        </div>
                    </div>
        <div class="text-center">
          <div class="button">Kaydol</div>

        </div>
      </form>
    </div>

 
  </div>
</div>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

    

</body>
</html>
